/* 7th November 2021 *?
.classPhoneAnimation
  { font-size: 20px;}


.classPhoneAnimation fas
  { font-size: 40px;}

/* Updated 25th October 2021 */
.hide_main_nav_bar {
  margin-top: -80px;
}
.shrink {
  padding: 20px 0;
}

/*  30th October 2021 - CL */
.header_size_control {
  transition-delay: 1s;
  height: 500px;
  background-color: peru;
  font-size: 1rem;
}
/*  2nd November 2021 */

.hero_header_large {
  transition-delay: 2s;
  height: 550px;
  color: blue;
  transition: width 2s  4s;
  background-color: peru;
  
  padding: 0 2rem;
  h3 
    {
      font-size: 50px;
    }
}

.bg_hero {
  border: 10px dotted green;
}
.hero_header_small {
  transition: transform 2s ease-in, -webkit-transform 1s ease-in;
  height: 250px;
 p, h3, h4 {
    font-size: 15px;
  }
  p { display: none;} 

  .navbar { height: 0;}
}

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero_header_section {
   /*  border: 5px dotted green;  */
}
.contactdetailsAnimate {
  
}

.anim {
  opacity: 0;
  
}
@keyframes anim1 {
  from {
    transform:  translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}




